.navbar {
    width: 100vw;
    display: flex;
    justify-content: space-around;
    position: absolute;
    top: 3rem;
    padding-left: 0;
}

.navElement {
    color: white;
    text-decoration: none;
    font-size: larger;
}